@model DemoViewModel;

<div class="col-md-8">
    <div>
        <h4>List of PermissionGrants current application has:</h4>
        @foreach (var permission in Model.Permissions)
        {
            <p>@Html.DisplayFor(m => permission)</p>
        }
        <br />
    </div>
</div>
