@model HackathonViewModel;

@{
    ViewData["Title"] = "Hackathon Page";
}

<div class="text-center">
    <h1 class="display-4">Hackathon 2023</h1>
    <p>@Html.DisplayFor(m => Model.Response)</p>
</div>
